@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Lato', sans-serif;
    background-color: #000;
}

/* Typography */
a {
    text-decoration: none;
    color: #fff;
}

a:hover {
    color: #999;
}

h1,
h2,
h3,
p,
span {
    color: #fff;
}

img {
    width: 100%;
}

i {
    margin-left: 0.3rem;
    color: #fff;
}

/* Utilities */
.underline {
    text-decoration: underline;
}

/* Showcase */
.showcase {
    height: 100vh;
    background: url('/img/showcase.jpg') no-repeat center center/cover;
}

.showcase::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .8);
    box-shadow: inset 0px 0px 200px 120px rgba(0, 0, 0, 0.88);
    z-index: 1;
}

.showcase-top {
    position: relative;
    height: 90px;
}

.showcase-top .logo {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 170px;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.showcase-top .signin {
    position: absolute;
    top: 50%;
    right: 0;
    z-index: 2;
    transform: translate(-50%, -50%);
}

.showcase-top .signin a {
    padding: 0.6rem 1.4rem;
    background-color: red;
    border-radius: 0.4rem;
}

.showcase-content {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    text-align: center;
    transform: translate(-50%, -50%);
}

.showcase-content h1 {
    font-size: 5rem;
    margin-bottom: 1rem;
}

.showcase-content h3 {
    font-size: 1.3rem;
    margin-bottom: 1rem;
}

.showcase-content .btn-main-showcase {
    background-color: red;
    display: block;
    width: 50%;
    margin: auto;
    padding: 1.5rem 1rem;
    border-radius: 0.4rem;
}

/* Grid-Tab */
.grid-tab {
    display: grid;
    max-width: 70%;
    margin: auto;
    padding: 2rem 0;
    text-align: center;
    grid-template-columns: repeat(3, 1fr);
}

.grid-tab .tab-item {
    padding: 1.5rem;
    cursor: pointer;
}

.grid-tab .show {
    border-bottom: 5px solid red;
}

.grid-tab .tab-item i {
    margin-bottom: 1rem;
    color: #999;
}

.grid-tab .tab-item p {
    color: #999;
}

.grid-tab .tab-item:hover i,
.grid-tab .tab-item:hover p {
    color: #fff;
}